  @import "../styling/mixins";
  @import "../styling/extensions";
  

.hidden {
  opacity: 0;
}

.loginTxt {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.slideBottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  // , blink 1s infinite 0.5s
}

.form {
  display: flex;   // Change from display: grid to display: flex
  flex-direction: column;
  // margin: $main-margin * 4;
  // width: 600px;
  opacity: 1;
  @include media-max-width() {
    width: 95%;
  }
  
}

.centeredContent {  // New class for centering
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center; // Center horizontally
  align-items: center;    // Center vertically
}

.flexContainer {  // New class for column layout
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 0;
}

input {
  @extend .mainInputStyle;
  // border: 1px solid #fff;
  // margin-top: 2.6vh;
  margin-left: 0.5em;
  color: lightgray;
  width: 10vw;

}

::-webkit-input-placeholder {
  color:rgb(77, 77, 77) !important;
}

::-moz-placeholder {
  color:rgb(77, 77, 77) !important;
}

::-ms-placeholder {
  color:rgb(77, 77, 77) !important;
}

::placeholder {
  color:rgb(77, 77, 77) !important;
}

.loginBtn {
  // @extend .mainInputStyle;
  // border: 1px solid #ffffff;
  background: none;
  min-width: 40px;
  max-width: 150px;
  padding-top: 5.5vh;

  border: none;
  font-family: monospace;
  font-size: x-large;
  color: #ffffff;
  width: 3.3vw; /* Adjust the width to your desired size */
  height: 7vh; /* Adjust the height to your desired size */
  cursor: pointer;
  &:active {
    opacity: 50%;
  }
  &:hover {
    filter: invert(50%);
  }
}
.icon {
  width: 5.2vw;
  height: 5vh;
  position: absolute;
  margin-top: 3.8vh;
  margin-left: 3vw;
}
.hintText {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #868686; /* Set the color of the hint text */
  font-size: small;
}

.legal {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1vw;
}


.imageContainer {
  position: relative;
  z-index: 1;
}

@keyframes blink {
  0%, 69.9% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}

.blinkingText {
  animation: blink 1s infinite;
}

.faded {
  opacity: 0.5;
}

.slideRight {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}



.pfpAnimationContainer {
  position: relative;
}

.pfpAnimationContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(30, 30, 30); /* Optional: Add a semi-transparent background */
  filter: blur(1vw); /* Increased the blur radius */
  pointer-events: none; /* Ensure the blur effect doesn't interfere with user interactions */
}

.pfpAnimation {
  position: relative;
  // z-index: 1; /* Ensure the animated element is above the blur effect */
  -webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s both;
  animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 6s both;
}

.pfpColorAnimation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 189, 0.427); /* Optional: Add a semi-transparent background */
  filter: blur(20px); /* Increased the blur radius */
  z-index: 1;
  pointer-events: none; /* Ensure the blur effect doesn't interfere with user interactions */
  -webkit-animation: pfpColor 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;;
  animation: pfpColor 6s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(7vh) scale(1.5);
            transform: translateY(7vh) scale(1.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(7vh) scale(1.5);
            transform: translateY(7vh) scale(1.5);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}


@-webkit-keyframes pfpColor {
  0% {
    -webkit-filter: blur(40px);
            filter: blur(40px);
  }
  50% {
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
  100% {
    -webkit-filter: blur(150px);
            filter: blur(150px);
  }
}

@keyframes pfpColor {
  0% {
    -webkit-filter: blur(40px);
            filter: blur(40px);
  }
  50% {
    -webkit-filter: blur(70px);
            filter: blur(70px);
  }
  100% {
    -webkit-filter: blur(150px);
            filter: blur(150px);
  }
}




.circle {
  width: 8vw;
  min-width: 70px;
  height: 8vw;
  min-height: 70px;
  background-color: transparent; /* Make the background transparent */
  border: 2px solid transparent; /* Add a border with your desired color and thickness */
  border-radius: 50%;
  position: absolute; /* Position relative to contain the pseudo-element */
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; 
  margin-bottom: 0.14vh;
  z-index: 5;
  pointer-events: none;

  filter: drop-shadow(0 0 10px #f0beed) drop-shadow(0 0 20px #f0beed) drop-shadow(0 0 30px #f0beed);
}

.circle::before {
  content: '';
  box-sizing: border-box;
  min-width: 70px;
  height: 8vw;
  width: 8vw;
  min-height: 70px;
  border-top: 2px solid #f0beed; /* Neon red color */
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0%; /* Position it on top of the circle's border */
  left: 0%; /* Align it with the left edge of the circle's border */
  clip-path: inset(0 50% 0 0); /* Clip the left half */
  -webkit-animation: rotateleft 6s ease-in-out both;
  animation: rotateleft 6s ease-in-out both;
  rotate: 180deg;
  filter: drop-shadow(0 0 0px #f0beed) drop-shadow(0 0 1px #f0beed); /* Enhanced glow effect */
  opacity: 0.6;
  pointer-events: none;
}

.circle::after {
  content: '';
  box-sizing: border-box;
  min-width: 70px;
  width: 8vw;
  height: 8vw;
  min-height: 70px;
  border-top: 2px solid #f0beed; /* Neon blue color */
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0%; /* Position it on top of the circle's border */
  left: 0%; /* Align it with the left edge of the circle's border */
  clip-path: inset(0 0 0 50%); /* Clip the left half */
  -webkit-animation: rotateright 6s ease-in-out both;
  animation: rotateright 6s ease-in-out both;
  rotate: 180deg;
  filter: drop-shadow(0 0 0px #f0beed) drop-shadow(0 0 1px #f0beed); /* Enhanced glow effect */
  opacity: 0.6;
  pointer-events: none;
}

@keyframes rotateleft {
  0% {
    transform: rotate(-50deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  75% {
    transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-170deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateleft {
  0% {
    -webkit-transform: rotate(-50deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(-50deg);
  }
  75% {
    -webkit-transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-170deg);
    opacity: 0;
  }
}

@keyframes rotateright {
  0% {
    transform: rotate(50deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(50deg);
  }
  75% {
    transform: rotate(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotate(170deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateright {
  0% {
    -webkit-transform: rotate(50deg);
  }
  25% {
    -webkit-transform: rotate(-90deg);
  }
  50% {
    -webkit-transform: rotate(50deg);
  }
  75% {
    -webkit-transform: rotate(-90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(170deg);
    opacity: 0;
  }
}