  @import "../styling/mixins";
  @import "../styling/extensions";
  

.hidden {
  opacity: 0;
}

.loginTxt {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.slideBottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  // , blink 1s infinite 0.5s
}

.form {
  display: flex;   // Change from display: grid to display: flex
  flex-direction: column;
  // margin: $main-margin * 4;
  // width: 600px;
  opacity: 1;
  @include media-max-width() {
    width: 95%;
  }
  
}

.centeredContent {  // New class for centering
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center; // Center horizontally
  align-items: center;    // Center vertically
}

.flexContainer {  // New class for column layout
  display: flex;
  align-items: center;
  flex-direction: row;
}

input {
  @extend .mainInputStyle;
  // border: 1px solid #fff;
  // margin-top: 2.6vh;
  margin-left: 0.5em;
  color: lightgray;
  width: 10vw;

}

::-webkit-input-placeholder {
  color:red !important;
}

::-moz-placeholder {
  color:red !important;
}

::-ms-placeholder {
  color:red !important;
}

::placeholder {
  color:rgb(77, 77, 77) !important;
}

.loginBtn {
  // @extend .mainInputStyle;
  // border: 1px solid #ffffff;
  background: none;
  min-width: 40px;
  max-width: 150px;
  padding-top: 5.5vh;

  border: none;
  font-family: monospace;
  font-size: x-large;
  color: #ffffff;
  width: 3.3vw; /* Adjust the width to your desired size */
  height: 7vh; /* Adjust the height to your desired size */
  cursor: pointer;
  &:active {
    opacity: 50%;
  }
  &:hover {
    filter: invert(50%);
  }
}
.icon {
  width: 5.2vw;
  height: 5vh;
  position: absolute;
  margin-top: 3.8vh;
  margin-left: 3vw;
}
.hintText {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #868686; /* Set the color of the hint text */
  font-size: small;
}

.legal {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1vw;
}


.imageContainer {
  position: relative;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 14vw; /* Make the SVG larger than the image */
  min-width: 120px;
}

@keyframes blink {
  0%, 69.9% {
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}

.blinkingText {
  animation: blink 1s infinite;
}

.faded {
  opacity: 0.5;
}

.slideRight {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-5vh);
            transform: translateY(-5vh);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
