body {
    font-family: monospace;
    background-color: rgb(30, 30, 30);
    color: white;
  }

  .column-wrapper {
        display: flex;
        flex-direction: column; /* Display terminals in a column layout */
    }
        
  .row-wrapper {
      display: flex;
      flex-direction: row; /* Display terminals in a column layout */
  }

  .terminals-container {
    display: flex;
    flex-direction: column; /* Display terminals in a column layout */
    align-items: flex-start; /* Align terminals to the left within the container */
  }
  
  .terminal {
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: calc(4px + 0.9vw);
  }

  .terminal input {
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 0%;
    height: 0%;
  }

  .terminal p {
    margin: 0; /* Remove the margin */
  }
  
  .terminal-cursor {
    color: blinking;
  }

  .outputClass {
    white-space: break-spaces
  }

  span.neofetchtext {
    color: rgb(220, 63, 54);
  }

  .horizontalAlign{
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    /*justify-content: center; */
    /*white-space: pre-wrap; */
  }

  span.descriptor {
    color: gray;
  }

  img.iconSocial {
    min-width: 15px;
    max-width: 3vw;
    padding-left: 2vw;
    padding-top: 2vh;
  }

  img.credits {
    min-width: 15px;
    max-width: 10vw;
    padding-right: 1vw;
    border-radius: 50%;
  }

  img.largeImage {
    max-width: 50vw;
    display: flex;
  }

  a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: underline;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:hover {
    color: lightslategray;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }