* {
  font-weight: 700;
  color: #fff;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #1A1F2C;
  // background-image: url(../src/assets/BG.svg);
}
